<?php

namespace AppBundle\Controller;

use Sensio\Bundle\FrameworkExtraBundle\Configuration\Route;
use Symfony\Bundle\FrameworkBundle\Controller\Controller;

class <CLASS> extends Controller
{
    /**
     * @Route("/<ROUTE>")
     */
    public function showAction()
    {
        return $this->render(<VIEW>);
    }
}
