<?php

namespace AppBundle\Entity;

use Doctrine\ORM\Mapping as ORM;

/** 
 * @ORM\Entity 
 * @ORM\Table(name="<TABLE>") 
 */ 
class <CLASS> 
{ 
    /** 
     * @ORM\Id 
     * @ORM\GeneratedValue(strategy="AUTO") 
     * @ORM\Column(type="integer") 
     */ 
    private $id; 
}
